<a href="https://colab.research.google.com/github/sameermdanwer/python-assignment-/blob/main/Pandas_Basic_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [ ]:
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the

In [ ]:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In pandas, a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It can be thought of as a spreadsheet or a SQL table. Each column in a DataFrame can hold different data types (integers, floats, strings, etc.), and it is generally used for more complex datasets that require organization across multiple dimensions.

On the other hand, a Series is a one-dimensional labeled array capable of holding any data type. It is similar to a single column in a DataFrame.

# Key Differences:

1. Dimensions:

* Series: One-dimensional (1D).
* DataFrame: Two-dimensional (2D).
2. Structure:

* Series: Consists of a single column of data.
* DataFrame: Consists of multiple columns, each of which can be a Series.
3. Use Cases:

* Series: Suitable for representing a single variable or a list of values.
* DataFrame: Suitable for representing datasets with multiple variables and complex relationships.

In [4]:
import pandas as pd

# Create a Series
data_series = pd.Series([1, 2, 3, 4])
print("Pandas Series:")
print(data_series)

Pandas Series:
0    1
1    2
2    3
3    4
dtype: int64

In [5]:
# Create a DataFrame
data_frame = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': ['one', 'two', 'three', 'four'],
    'C': [True, False, True, False]
})
print("\nPandas DataFrame:")
print(data_frame)

Pandas DataFrame:
   A      B      C
0  1    one   True
1  2    two  False
2  3  three   True
3  4   four  False

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a wide array of functions to manipulate data in a DataFrame. Here are some common functions along with explanations and examples of when you might use them:

Common Functions for Data Manipulation in Pandas DataFrames

# 1.  head()

In [ ]:
df.head(5)  # Displays the first 5 rows of the DataFrame

# 2 . tail()

In [ ]:
df.tail(5)  # Displays the last 5 rows of the DataFrame

# 3 . describe()

In [ ]:
df.describe()  # Displays summary statistics for numerical columns

# 4.  groupby()

In [ ]:
df.groupby('Category').mean()  # Calculates the mean for each category

# 5 merge()

In [ ]:
pd.merge(df1, df2, on='CustomerID')  # Merges two DataFrames on the 'CustomerID' column

# 6 pivot_table()

In [ ]:
df.pivot_table(values='Sales', index='Month', columns='Product', aggfunc='sum')

#7. fillna()

In [ ]:
df['Column'].fillna(df['Column'].mean(), inplace=True)  # Fills NaN with the column mean

# 8. drop()

In [ ]:
df.drop('UnnecessaryColumn', axis=1, inplace=True)  # Drops a specified column

# Example of Using groupby()

In [8]:
import pandas as pd

# Example DataFrame
data = {
    'Product': ['A', 'B', 'A', 'C', 'B', 'A'],
    'Category': ['Electronics', 'Electronics', 'Home', 'Home', 'Electronics', 'Home'],
    'Sales': [200, 150, 300, 250, 100, 400]
}
df = pd.DataFrame(data)

# Using groupby to calculate total sales by category
total_sales = df.groupby('Category')['Sales'].sum().reset_index()

print(total_sales)

      Category  Sales
0  Electronics    450
1         Home    950

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In pandas, both Series and DataFrame are mutable in nature, while Panel is deprecated and not commonly used in recent versions of pandas.

# Explanation:
1. Series:

* Mutable: You can change the values of a Series after it has been created. This includes updating, adding, or removing elements.
2. DataFrame:

* Mutable: You can modify the contents of a DataFrame, including adding or dropping columns and rows, updating values, and performing other modifications.
3. Panel:

* Deprecated: Panel was a three-dimensional data structure in pandas but has been deprecated as of version 0.25.0. It is not recommended for use in new code. Instead, it's advised to use multi-dimensional arrays from libraries like NumPy or xarray for three-dimensional data.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

You can create a DataFrame in pandas using multiple Series by combining them together. Each Series represents a column in the DataFrame, and the index of each Series must align for them to be combined correctly.

# Example: Creating a DataFrame Using Multiple Series
Let’s create a DataFrame that represents information about different products, including their names, categories, and prices.

# Step 1: Create Series
First, we will create three Series: one for product names, one for categories, and one for prices.

In [9]:
import pandas as pd

# Create Series
product_names = pd.Series(['Laptop', 'Smartphone', 'Tablet', 'Monitor'])
categories = pd.Series(['Electronics', 'Electronics', 'Electronics', 'Electronics'])
prices = pd.Series([1000, 700, 300, 250])

# Display the Series
print("Product Names:")
print(product_names)
print("\nCategories:")
print(categories)
print("\nPrices:")
print(prices)

Product Names:
0        Laptop
1    Smartphone
2        Tablet
3       Monitor
dtype: object

Categories:
0    Electronics
1    Electronics
2    Electronics
3    Electronics
dtype: object

Prices:
0    1000
1     700
2     300
3     250
dtype: int64

# Step 2: Create DataFrame

In [10]:
# Create DataFrame using the Series
products_df = pd.DataFrame({
    'Product Name': product_names,
    'Category': categories,
    'Price': prices
})

# Display the DataFrame
print("\nProducts DataFrame:")
print(products_df)

Products DataFrame:
  Product Name     Category  Price
0       Laptop  Electronics   1000
1   Smartphone  Electronics    700
2       Tablet  Electronics    300
3      Monitor  Electronics    250